/* FONT FACES */
@font-face {
    font-family: 'QuickSand';
    src: url(Fonts/QuickSand/static/Quicksand-Regular.ttf);
}
@font-face {
    font-family: 'Lobster';
    src: url(Fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: 'Jost';
    src: url(Fonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    src: url(Fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'BreeSerif';
    src: url(Fonts/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: 'BadScript';
    src: url(Fonts/BadScript-Regular.ttf);
}
/* For desktop version */

:root {
    --dark-pink: #FF597B;
    --light-pink:  #F9B5D0;
}
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}
body {
    /* background-color: black; */
    color: black;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.mobile-navbar{
    display: none;
}
.close {
    display: none;
}
/* Whole navbar section */

.navbar {
    background-color: rgb(43, 42, 42);
    width: 100vw;
}
/* UPPER NAVBAR SECTION*/
.nav1 {
    height: 80px;
    padding: 1rem 3rem 0 3rem;
    justify-content: space-between;
    display: flex;
}
.logo {
    display: inline-flex;
}
.logo img{
    position: relative;
    bottom: 1.7rem;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
/* Lower navbar section */

.menu {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}
.menu a {
    font-family: 'Jost';
    color:  white;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    padding: 0.5rem 0;
}
.menu2 {
    display: none;
}
.menu a::before {
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF597B;
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.menu a:hover::before{
    transform: scaleX(1);
}
.telephone {
    color:#FF597B;
    height: fit-content;
    padding: 1rem 1rem;
    border: 1px solid white;
}
.telephone:hover {
    background-color: white;
}

/* HERO / HEADER SECTION */
.hero {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Images/background-black-and-pink-cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:20% 80%;
    background-attachment:fixed;
}
.headerInfo {
    margin: auto;
    width: 70%;
    text-align: center;
}
.header h2 {
    padding-top: 100px;
    font-size: xx-large;
}
.headerInfo h2 {
    font-family: 'QuickSand';
    font-size: 60px;
}
.headerInfo h2, .headerInfo p {
    text-align: center;
    color: white;
}
.headerInfo a {
    position: relative;
    top: 3rem;
    left:0;
    font-size: 20px;
    scroll-behavior: smooth;
    text-decoration: none;
    text-align: center;
    color: var(--dark-pink);
    border: 1px solid #fff;
    padding: 1rem 2.4rem;
}
.headerInfo p {
    font-family: 'Ubuntu';
    padding: 1.5rem 0;
}
.headerInfo a:hover {
    background-color: white;
}
.headerInfo hr {
    border: none;
    background-color: #FF597B;
    height: 2px;
}

/* ABOUT SECTION */
.aboutContent {
    /* padding: 0 2rem; */
    /* width: 70%; */
    margin:auto;
    height: 500px;
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.aboutImage {
    width: 30%;
    position: relative;
    bottom: 2.5rem;
}
.aboutImage img {
    vertical-align: middle;
    width: 400px;
    height: 500px;
}
.aboutText {
    width: 40%;
    text-align: left;
    margin-top: 140px;
}
.aboutText h3 {
    margin-top: 2rem;
    font-family: 'Jost';
}
.aboutText p {
    font-family: 'QuickSand';
    color: black;
}
.about h3 {
    color: var(--dark-pink);
    text-align: white;
}
h2#titles{
    color: transparent;
    -webkit-text-stroke: 0.5px #FF597B;
    font-family: 'BreeSerif';
    text-align: center;
    font-size: 3rem;
    z-index: 1;
}
hr#titlehr {
    width:5.5rem;
    background:linear-gradient(to right, rgb(189, 24, 156), rgb(231, 54, 87), black);
    height: 8px;
    margin: auto;
    margin-top: 2rem;
    background-size: cover;
    border:none;
}
/* SERVICE SECTION */
.serviceFixed {
    width: 80%;
    display: flex;
    margin: auto;
    /* justify-content: center; */
    margin-top: 5rem;
    padding: 1rem;
    padding-right: 2rem;
    overflow-x: auto;
    overflow-y:hidden;
    background-color: black;
    -webkit-overflow-scrolling: scroll; 
}
.servicePics {
    display: inline-flex;
    /* flex-wrap: wrap; */
    width: fit-content;
}
.service {
    overflow: hidden;
    border: 1px solid white;
    width: 20rem;
    height: fit-content;
    margin-right: 2rem;
    /* border-radius: 20px; */
}
.serviceImage img {
    width: 100%;
    object-fit: cover;
    height: 180px;
}
.serviceText p, .serviceText hr {
    display: none;
    color: white;
}
.desc::before {
    position: absolute;
    top: 0;
    content: '';
    margin: auto;
    width: 80%;
    height: 3px;
    background-color: white;
}
.serviceText h3{
    padding: 0.5rem 0;
    margin-top: 0;
    color: black;
    background-color: #fff;
    text-align: center;
}
.service h4 {
    color: #FF597B;
    text-align: center;
    cursor:pointer;
    padding: 1rem 0;
}
.service h4:hover {
    opacity: 0.5;
}
.desc {
    padding: 1.5rem;
    position: relative;
    text-align: center;
}

/* GALLERY */
.galleryPic {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto; 
    margin-top: 3.5rem;
    justify-content: center;
}
.galleryImage {
    padding: 1rem;
    /* border: 1px solid #FF597B; */
}
.galleryImage img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;

}
.galleryImage img:hover {
    -webkit-transform: rotateZ(360deg); /* Safari */
    transform: rotateZ(360deg);
    transition: 2s transform;
}
.visuals {
    display: grid;
    place-items: center;
    width: 70%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.videoTitle h1 { /* changed */
    font-family: 'BadScript';
    letter-spacing: 2px;
    color: black;
    font-size: 28px;

}
a#videoLink {
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid black;
    color: #FF597B;
}
a#videoLink:hover{
    color:  white;
    background-color: #FF597B;
    border: 1px solid #FF597B;
}
.footerA {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 9rem;
}
.quickLogo h1 {
    font-family: 'QuickSand';
    font-size: 40px;
}
.quickLinks {
    margin-top: 3.5rem;
}
.quickLinks a{
    font-family: 'Jost';
    text-decoration: none;
    color: #FF597B;
    margin-right: 2rem;
}
.quickLinks a:hover {
    color: #FF597B;
}
#footerRule {
    width: 80%;
    border: none;
    height: 1px;
    background-color: var(--light-pink);
}

.detail a {
    color: black;
}
.contactSection {
    margin-top: 7rem;
}
.contactDetails 
 {
    display: flex;
    flex-wrap: wrap;
 }
.end {
    background-color: black;
    padding: 1.5rem 0;
    color: white;
    text-align: center;
}
.contactTitle {
    font-family: 'QuickSand';
    margin-bottom: 2rem;
}
.contact {
    width: 40%;
    color: black;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.contact input {
    width: 20rem;
}
.contact input, .contact textarea {
    border:none;
    border-bottom: 1px solid grey;
    outline: none;
    background-color: transparent;
}
input, textarea{
    color: black;
}
.contact input[type="email"], textarea {
    width: 30rem;
}
.contactBody {
    display: flex;
}
.contactBody .lastname {
    margin-left: 2rem;
}
.contactLowerBody {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.buttons {
    display: flex;
    margin-top: 3.5rem;
}
.buttons span {
    font-family: 'BreeSerif';
}
.emailUs {
    margin-right: 2rem;
}
.emailUs button{
    font-size: 13px;
    padding: 1rem 1.5rem;
    background-color: var(--dark-pink);
    color: white;
    border-radius: 20px;
    border: 1px solid #FF597B;
    box-shadow: 2px 5px 13px #F9B5D0;
}
.textUs img {
    width: 30px;
    height: 30px;
    
}
.textUs {
    cursor: pointer;
    background-color: var(--dark-pink);
    display:flex;
    padding: 0.6rem 2.5rem;
    border-radius: 20px;
    border: 1px solid #FF597B;
    box-shadow: 2px 5px 13px #F9B5D0;
    margin-left: 2rem;
}
.textUs a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.textUs:hover{
    background-color: transparent;
}
.emailUs button:hover {
    cursor: pointer;
    background-color: transparent;
}
.contactDetails {
    padding: 2rem 0;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}
.detail{
    color: black;
    /* border-radius: 20px; */
    padding: 1rem 1rem;
    text-align: center;
}
/* FOR MOBILE SCREEN */
@media screen and (max-width: 900px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .menu2 {
        display: flex;
        z-index: 1;
        flex-direction: column;
        width: 99vw;
        /* height: 30vh; */
        position: absolute;
        bottom: 100%;
        padding: 3rem 1rem;
        /* left: 100vw; */
        background-color: black;
        top: -100%;
        transition: 2s ease;
    }
    .menu2 a {
        color: white;
        text-decoration: none;
        margin: 1rem 0;
        border-bottom: 1px solid wheat;
    }
    .menu2.active {
        top: 15%;
    }
    .mobile-navbar {
        margin-left: 60%;
        display: block;
        position: relative;
        top: 10px;
        z-index: 1;
        margin-right: none;
    }
    
    .nav1 {
       padding: 0.5rem 0 0 0.3rem;
        justify-content: inherit;

    }
    .hamburger {
        cursor: pointer;
    }
    .hamburger img {
        width: 30px;
        height: 40px;
    }
    .menu {
        display: none;
    }
    .headerInfo {
        width: 90%;
    }
    .aboutContent{
        display: flex;
        flex-direction: column;
    }
    .aboutText {
        padding: 0 2rem;
        margin-top: 28rem;
        width: 90%;
    }
    .aboutImage {
        width: 100%;
        text-align: center;
    }
    .services {
        margin-top: 28rem;
    }
    .videoTitle {
        text-align: left;
    }
    .visuals {
        display: flex;
        flex-direction: column;
        width:90%;
    }
    .video {
        margin-top: 2rem;
    }
    .footerA {
        width: 100%;
        margin-top: 5rem;
        display: flex;
        padding: 0 1rem;
        justify-content: left;
        flex-direction: column;
    }
    .logo img {
        width: 100px;
        right: 1rem;
        height: 100px;
        bottom: 1rem;
    }
    .quickLinks a{
        margin-right: 1.5rem;
    }
    #footerRule {
        width: 98%;
        border: none;
        height: 1px;
        background-color: var(--light-pink);
    }
    .contact {
        width: 90%;
        text-align: center;
    }
    .contactSection {
        margin-top: 5rem;
    }
    .contactBody {
        display: flex;
        flex-direction: column;
    }
    .contactTitle {
        /* width: 90%; */
        /* text-align: left; */
    }
    .contactLowerBody {
        margin: auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content:  center;
    }
    .contactBody .lastname {
        margin-left: 0;
    }
    .contact input[type="email"], textarea {
        width: 20rem;
        margin: auto;
    }
    .buttons {
        display: flex;
        justify-content: center;
        margin-top: 3.5rem;
    }
    .telephone {
        display: none;
    }
}

/* For HTML close icon */
/* <div class="close">
            <img src="images/icons8-close-button-32.png" alt="">
        </div> */